$primary-color: #8A8FFD;
$welcome-color: #AAE095;
$header-color: #EB97DB;
$text-color: #7C7C7C;
$header-height: 90px; 
$full-width: 70vw;
@mixin full-width() {
    width: 70vw;
    @media only screen and (max-width: 1000px) {
        width: 90vw;
    }
}

html {
    background-color: $primary-color;
    font-family: "Arial Hebrew", Arial, sans-serif;
}

%header {
    height: $header-height;
    border-radius: 25px;
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    font-size: 40px;
    @media only screen and (max-width: 800px) {
        font-size: 30px;
    }
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcomeHeader {
    @extend %header;
    @include full-width();
    background-color: $welcome-color;
}

.separationHeader {
    @extend %header;
    width: 30vw;
    @media only screen and (max-width: 1000px) {
        width: 50vw;
    }
    background-color: $header-color;
}

.aboutText {
    color: $text-color;
    @include full-width();
    font-size: 30px;
    @media only screen and (max-width: 800px) {
        font-size: 21px;
    }
    margin: 0px 0px 30px 0px;
}

p.headerText {
    color: $primary-color;
    margin: auto;
}

.linkContainer {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    @include full-width();
}

.linkItem {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
}

.linkDescription {
    font-size: 21px;
    color: $text-color;
    text-align: center;
}
